<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wotemo.mapper.UserArticleMapper">
    <update id="setArticle">
        INSERT INTO user_article
            (id, author, title, content, dislike, create_time, update_time)
        VALUES
            (#{id}, #{userId}, #{title}, #{content}, 0, now(), now());
    </update>
    <update id="updateUserArticle">
        UPDATE user_article
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
            <if test="dislike!=null">
                dislike = #{dislike},
            </if>
            <if test="title!=null and content!=null and dislike!=null">
                update_time = now(),
            </if>
        </set>
        WHERE id = #{id};
    </update>
    <delete id="deleteArticle">
        delete from user_article where id = #{id}
    </delete>
    <update id="cancelledArticle">
        update user_article
        set author = 'CANCELLED'
        where id = #{articleId}
    </update>
    <select id="getArticle" resultType="com.wotemo.pojo.UserArticle">
        select id, author, title, content, dislike, create_time, update_time
        from user_article
        where id = #{id}
    </select>
    <select id="getArticlesByUserId" resultType="com.wotemo.pojo.UserArticle">
        select id, author, title, content, dislike, create_time, update_time
        from user_article
        where author = #{userId}
        order by create_time desc
        <if test="skip!=null and num!=null">limit #{skip}, #{num}</if>
    </select>
</mapper>