<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wotemo.mapper.UserInfoMapper">
    <delete id="deleteUserInfo">
        delete from user_info where user_id = #{userId}
    </delete>
    <select id="getUserInfo" resultType="com.wotemo.pojo.UserInfo">
        select user_id, nickname, avatar, birthday, address, profile, create_time, update_time
        from user_info
        where user_id=#{userId}
    </select>
    <update id="updateUserInfo">
        UPDATE user_info
        <set>
        <if test="nickname!=null">
            nickname = #{nickname},
        </if>
        <if test="avatar!=null">
            avatar = #{avatar},
        </if>
        <if test="birthday!=null">
            birthday = #{birthday},
        </if>
        <if test="profile!=null">
            profile = #{profile},
        </if>
        <if test="nickname!=null or avatar!=null or birthday!=null or profile!=null">
            update_time = now(),
        </if>
        </set>
        WHERE user_id = #{userId};
    </update>
    <update id="setUserInfo">
        INSERT INTO user_info
            (user_id, nickname, avatar, birthday, address, profile)
        VALUES
            (#{userId}, #{nickname}, #{avatar}, #{birthday}, #{address}, #{profile});
    </update>
</mapper>