<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wotemo.mapper.UserPasswordMapper">
    <select id="getPassword" resultType="com.wotemo.pojo.UserPassword">
        select user_id, username, email, password, create_time, update_time
        from user_password
        where username=#{username} or email=#{email}
    </select>
    <update id="setPassword">
        INSERT INTO user_password
            (user_id, username, email, password)
        VALUES
            (#{userId}, #{username}, #{email}, #{password});
    </update>
    <update id="updatePasswordByEmail">
        UPDATE user_password
        SET password = #{password}, update_time = now()
        WHERE email = #{email};
    </update>
    <update id="updatePasswordByUsername">
        UPDATE user_password
        SET password = #{newPassword}, update_time = now()
        WHERE username = #{username};
    </update>
</mapper>