<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wotemo.mapper.UserAddressMapper">

    <insert id="setAddress">
        INSERT INTO user_address
            (id, province, city, full_address)
        VALUES
            (#{id}, #{province}, #{city}, #{fullAddress});
    </insert>

    <update id="updateAddress">
        UPDATE user_address
        <set>
            <if test="province!=null">
                province = #{province},
            </if>
            <if test="city!=null">
                city = #{city},
            </if>
            <if test="fullAddress!=null">
                full_address = #{fullAddress},
            </if>
        </set>
        WHERE id = #{addressId};
    </update>
    <delete id="deleteAddress">
        delete from user_address where id = #{id}
    </delete>
    <select id="getUserIdByAddressId" resultType="java.lang.String">
        select user_id from user_info where address = #{addressId}
    </select>
</mapper>